body {
    font-family Roboto, sans-serif, arial;
    background-color: #333;
    margin: 0;
    padding: 0;
	color: #e7e7e7;
}

header {
    text-align: center;
    padding: 20px;
}



section {
    padding: 20px;
}


footer {
    text-align: center;
    color: #e7e7e7;
    background-color: #ffbf35;
    padding: 10px 0; 
}

#projects {
    display: flex;
    flex-wrap: wrap; 
    background-color: #ffe6af;
}

.project {
    flex: 0 0 30%; 
    margin: 5px;
    padding: 5px;
    color: black;
    text-align: center;
    font: 1em sans-serif;
}

.project h3 {
    color: blue; 
}


.project img {
    width: 50%; 
    height: 50%;
}


.skill {
	margin-top: 30px;
	font-size: 17px;
}

.skill span {
	float: right;
}

.skill div {
	width: 100%;
	float: left;
	margin-top: 5px;
	background: #e7e7e7;
	border-radius: 10px;
}

.skill div span {
	background: #ffbf35;
	height: 5px;
	float: left;
}

div[role="progressbar"] {
	color: #ffbf35;
	margin-left: 100px;
	margin-bottom: 20px;
	width: 100px;
	;
	height: 100px;
	;
	border-radius: 50%;

	place-items: center;
	display: grid;

	--pgPercentage: var(--value);
	background: radial-gradient(closest-side, black 80%, transparent 0 99.9%, black 0),
		conic-gradient(#ffbf35 calc(var(--pgPercentage) * 1%), #ffe6af 0);

}

